<launch>
  <arg name="input" default="/stereo/left/image_rect_color" />
  <node name="linemod_no_depth" 
	pkg="linemod_recognition" type="linemod_no_depth" 
	output="screen" >
    <rosparam subst_value="true">
      template_name: $(find linemod_recognition)/templates/pie4.yml
      threshold: 80
      match_num: 5
    </rosparam>
    <remap from="~input" to="$(arg input)" />
  </node>
</launch>
