<launch>
  <arg name="template" default="template.yml" />
  <arg name="rgb_image" default="/stereo/left/image_recot_color" />

  <node name="linemod_no_depth" pkg="linemod_recognition"
	type="linemod_recognition">
    <remap from="rgb_image" to="$(arg rgb_image)" />
    <remap from="depth_image" to="$(arg depth_image)" />
    <remap from="box_out" to="/linemod/nondepth2d/output" />
  </node>
</launch>
